$col-amount: 12;
$grid-spacing: 3%;
[class^="col-"] {
    float: left;
    box-sizing: border-box;
    padding-right: $grid-spacing;
    &:last-child {
        padding-right: 0;
    }
}

@for $i from 1 through $col-amount {
    .col-#{$i} {
        width: 100% / $col-amount * $i;
    }
}

@media screen and (max-width: 768px) {
    .col-6 {
        width: 100%;
    }
    .col-8 {
         width: 100%;
    }
}
    


.container {
    @extend %clearfix;
    margin: 0 auto;
    max-width: 1200px
}
