@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/fontsawesome/font-awesome";
@import "_misc/sprite";
@import "_misc/grid";
@import "_blocks/header";
@import "_blocks/footer";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #efeee9;
    font-family: 'robotoregular';
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.maincontent {
    padding-bottom: 160px;
}

p {
    color: #455a64;
    margin-bottom: 25px;
    line-height: 24px;
}

.h_block {}

.h_bg {}

h3 {
    font-family: 'bernier_regularregular';
    font-size: 63px;
    text-align: center;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    &:before,
    &:after {
        content: " - ";
        color: #cacbc8;
        position: absolute;
        top: 2px;
    }
    &:before {
        margin-left: -40px;
    }
    &:after {
        right: 23px;
    }
}

.bg-work {
    background-image: url("../../assets/img/bg-work.png");
    background-position: center, center;
    background-repeat: no-repeat;
    padding-top: 65px;
    padding-bottom: 30px;
}

.bg-speak {
    background-image: url("../../assets/img/bg-about.png");
    background-position: center, center;
    background-repeat: no-repeat;
    padding-top: 65px;
    padding-bottom: 30px;
}

h4 {
    font-family: 'bernier_regularregular';
    font-size: 63px;
}

h5 {
    position: relative;
    font-family: 'bernier_regularregular';
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    color: #455a64;
}

h6 {
    font-family: 'robotomedium';
    font-size: 28px;
    color: #455a64;
}

h4,
h5 {
    margin: 0px auto 40px;
    //    width: 300px;
    &:before,
    &:after {
        content: " - ";
        color: #cacbc8;
        position: absolute;
        top: 0px;
    }
    &:before {
        margin-left: -40px;
    }
    &:after {
        margin-left: 20px;
    }
}

.h_block {}

.h_posrel {
    position: relative;
    left: -200px;
}

.btn-home {
    cursor: pointer;
}

.about__im {
    max-width: 438px;
    float: right;
    margin-top: -50px;
    &_foto {
        width: 438px;
        margin-bottom: 30px;
    }
}

.skill {
    &__block {
        margin-bottom: 20px;
        position: relative;
        &_item {
            display: inline-block;
            margin: 20px 20px 20px 0px;
        }
        &_name {
            position: absolute;
            top: 98px;
            left: 30px;
            text-align: center;
            color: #10c1a8;
            font-size: 14px;
        }
    }
}

.g-circles {
    fill: none;
    stroke-width: 25;
}

.sector {
    stroke-dasharray: 0 400;
    transition: all 1s;
}

.g-circles .sector {
    stroke-dasharray: 200 400;
}

.contacts {
    position: relative;
    margin-top: 40px;
    margin-bottom: -160px;
}

.contact-block {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    max-width: 380px;
    margin: 0 auto;
    padding: 40px 40px 20px 40px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    .social__list {
        &_item {
            display: block;
            float: none;
            padding-bottom: 25px;
            .icon {
                fill: #00bea4;
                width: 24px;
            }
            a {
                color: #6a7a82;
                text-decoration: none;
            }
        }
    }
}

.pages {
    background: #fff;
}

.about-say {
    background: url("../../assets/img/about-say.jpg") no-repeat;
    background-size: cover;
    min-height: 1280px;
    position: relative;
    margin-bottom: -160px;
    &__block {
        max-width: 780px;
        margin: 0 auto;
        padding: 0px 15px;
        overflow: hidden;
    }
    &__speak {
        overflow: hidden;
        margin-top: 20px;
        &_item:before {
            content: url("../../assets/img/commas.png");
            margin-bottom: 30px;
            display: block;
        }
    }
}

.blog {
    float: right;
    &__container {
        h5 {
            text-align: left !important;
            margin-bottom: 30px !important;
            &:before,
            &:after {
                content: " "
            }
        }
        p {
            line-height: 25px;
        }
        &_content {
            margin-bottom: 60px;
            padding-bottom: 40px;
            border-bottom: 5px solid #f1f1f2;
        }
    }
}

.foto-speak {
    img {
        float: left;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin-right: 20px;
    }
    &__text {
        color: #00bea4;
        padding-top: 20px;
        &_name {
            font-weight: bold;
        }
        &_status {
            padding-top: 5px;
        }
    }
}

.has-error {
    border: 1px solid #e10707 !important;
}

.has-success {
    border: 1px solid #00ff14 !important;
}

.contact-with-me {
    max-width: 380px;
    margin: 70px auto 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 40px;
    position: relative;
    .blur-form {
        background: url(../../assets/img/about-say.jpg) center no-repeat;
        filter: blur(20px);
        width: 380px;
        height: 410px;
        &-wrapper {
            overflow: hidden;
            border-radius: 10px;
        }
        &-info {
            position: absolute;
            top: 82px;
        }
    }
    h5 {
        margin-bottom: 20px !important;
    }
    .form {
        &__list {
            padding: 20px 20px 0px 20px;
            &_item {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 10px;
                box-sizing: border-box;
                margin-bottom: 20px;
            }
            textarea {
                height: 110px;
            }
        }
        &__submit {
            width: 50%;
            float: left;
            border: 0;
            font-weight: bold;
            color: #fff;
            padding: 15px;
            cursor: pointer;
            &_left {
                background: #26bbaa;
                border-bottom-left-radius: 5px;
                &:hover {
                    background: rgba(38, 187, 170, 0.70);
                }
            }
            &_right {
                background: #268c8b;
                border-bottom-right-radius: 5px;
                &:hover {
                    background: rgba(38, 140, 139, 0.70);
                }
            }
        }
    }
}

.chevron-down,
.chevron-up {
    position: relative;
    z-index: 1;
    text-align: center;
    display: block;
    margin: 70px auto 0px;
    width: 50px;
}

.fa-chevron-down,
.fa-chevron-up {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#map {
    width: 100%;
    height: 1000px;
}

.parallax {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__layer {
        position: absolute;
        width: 110%;
        height: 110%;
        left: 50%;
        margin-left: -2000px;
        bottom: 0%;
        img {
            position: absolute;
            display: block;
        }
    }
}


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered 
.flip-container:hover .flipper,
*/

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 380px;
    height: 400px;
    margin: 0 auto;
    margin-top: 12vh;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}

.btn-authorization {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 24px 100px 0px 0px;
    cursor: pointer;
    &:hover {
        background: #fff;
        color: #00bea4;
    }
}

.authorization {
    &__container {
        padding: 40px 0px 0px 0px;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .user {
        max-width: 100%;
    }
    .user__name {
        color: #455a64;
        font-size: 28px;
    }
    .user__descr {
        color: #455a64 !important;
    }
    .social__list {
        display: flex;
        justify-content: center;
        flex: 1;
        margin-top: 30px;
        &_item {
            float: none;
            .icon {
                fill: #70d1c6;
                margin-left: 10px;
                &:hover {
                    fill: #00bfa5;
                }
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        .btn {
            flex-grow: 1;
            text-align: center;
            text-decoration: none;
            background: #0bad98;
            color: #fff;
            padding: 15px 0px;
            border-left: 1px solid rgba(255, 255, 255, 0.70);
            border-right: 1px solid rgba(255, 255, 255, 0.70);
            &:hover {
                background: rgba(11, 173, 152, 0.8);
            }
            &:first-child {
                border-bottom-left-radius: 10px;
                border-right: 1px solid rgba(255, 255, 255, 0.70);
                border-left: 0;
            }
            &:last-child {
                border-bottom-right-radius: 10px;
                border-left: 1px solid rgba(255, 255, 255, 0.70);
                border-right: 0;
                border-top: 0;
                border-bottom: 0;
            }
        }
    }
}

button.btn {
    border-top: 0px;
    cursor: pointer;
    font-size: 16px;
    height: 46px;
}

.checkbox:checked + .checkbox-custom::before {
    font-family: "FontAwesome";
    content: "\f00c";
    color: #fff;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: #26bbaa;
    border-radius: 2px;
    padding-left: 3px;
    padding-top: 3px;
}

span.label {
    margin-left: 10px;
}

.checkbox,
.radio {
    display: none;
}

.checkbox-custom,
.radio-custom {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 2px;
    background: #fff;
}

.checkbox-custom,
.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.inputGroupContainer__radio.checkbox:checked + .inputGroupContainer__radio.checkbox-custom::before,
.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 2px;
    bottom: 2px;
    left: 6px;
    background: #26bbaa;
    width: 8px;
    height: 8px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
    border-radius: 50%;
}

.inputGroupContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    input {
        height: 39px;
        max-width: 300px;
        padding-left: 20px;
        border: 1px solid #fff;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    .input-group {
        margin: 0px auto 20px;
        .fa {
            color: #c4cbcd;
            float: left;
            text-align: center;
            width: 45px;
            background: #f0efe9;
            padding: 13px;
            box-sizing: border-box;
            vertical-align: middle;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }
    }
    &__checkbox {}
    &__radio {
        margin-bottom: 15px;
        label {
            margin-left: 20px;
        }
    }
}

span.info {
    display: block;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    flex-direction: column;
}

aside.navigate {
    //    float: left;
    //    width: 33.3333%;
    //    text-align: right;
    //    margin-top: 22px;
    float: left;
    width: 350px;
    margin-top: 30px;
}

.f-nav {
    position: fixed;
    top: 0;
    width: 350px;
}

.text-bottom {
    position: absolute;
    bottom: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #00bfa5;
    &__spinner {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__animation {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #fff;
        animation: spin 1s linear infinite;
        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fff;
        }
        &:before {
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            animation: spin 2s linear infinite;
        }
        &:after {
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            animation: spin 3s linear infinite;
        }
    }
    &__percents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}

.preloader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 191, 165, 0.88);
    &__spinner {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__animation {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #fff;
        animation: spin 1s linear infinite;
        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fff;
        }
        &:before {
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            animation: spin 2s linear infinite;
        }
        &:after {
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            animation: spin 3s linear infinite;
        }
    }
    &__percents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}

//.slider {
//    position: relative;
//    display: inline-block;
//    margin-left: 200px;
//    &__list {
//        width: 2000px;
//        position: relative;
//        left: 0px;
//        @extend %clearfix;
//        &--wrap {
//            width: 250px;
//            height: 150px;
//            overflow: hidden;
//        }
//    }
//    &__item {
//        float: left;
//        width: 250px;
//        height: 150px;
//    }
//    &__controls-button {
//        position: absolute;
//        top: 50px;
//        &_next {
//            right: -100px;
//        }
//        &_prev {
//            left: -100px;
//        }
//    }
//}
.slider {
    position: relative;
    background-color: #e6e6e1;
    padding-top: 90px;
    &__list {
        padding-left: 0;
        max-width: 1020px;
        height: 780px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    &__item {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        background-color: #e6e6e1;
        width: 100%;
        &.active {
            z-index: 1;
            position: relative;
        }
    }
    &__dots {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
        &_item {
            display: inline-block;
            margin: 0 9px;
            border-radius: 50%;
            border: 2px solid #00bfa5;
            overflow: hidden;
            background: #fff;
            &.active {
                background: #00bfa5;
            }
        }
        &_link {
            text-decoration: none;
            display: block;
            width: 10px;
            height: 10px;
        }
    }
    &__controls-btn {
        position: absolute;
        top: 50%;
        display: block;
        z-index: 3;
        cursor: pointer;
        font-size: 30px;
        color: #48cdb9;
        &:hover {
            color: rgba(72, 205, 185, 0.60);
        }
        &:active {
            color: rgba(72, 205, 185, 0.90);
        }
        &_next {
            right: 20px;
            &:before {
                font-family: FontAwesome;
                content: "\f054";
            }
        }
        &_prev {
            left: 20px;
             &:before {
                font-family: FontAwesome;
                content: "\f053";
            }
        }
    }
    .project {
        &-image {
            float: left;
            width: 50%;
        }
        &-info {
            float: right;
            margin-top: 150px;
            
            &__name {
                font-family: 'bernier_regularregular';
                font-size: 36px;
                margin-bottom: 20px;
            }
            
            &__tools {
                font-size: 16px;
                color: #20b5a1;
                border-top: 1px solid #20b5a1;
                border-bottom: 1px solid #20b5a1;
                padding: 10px 0px;
                margin-bottom: 40px;
            }
            
            &__btn {
                background: #20b5a1;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                padding: 10px;
                &:hover {
                    background: rgba(32, 181, 161, 0.67);
                }
                &:before {
                    font-family: FontAwesome;
                    content: "\f0c1";
                    margin-right: 10px;
                }
                
            }
        }
    }
}