doctype html
html(lang="ru-RU")
    include ../mixins/mixins.pug
    include ../common/head.pug
    body
        
        .wrapper
            .maincontent
        
                include ../common/header.pug
                
                block content
                
                include ../common/footer.pug